@font-face {
    font-family: 'Proxima';
    src: url('../fonts/pnr.woff2') format('woff2'),
        url('../fonts/pnr.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Proxima';
    src: url('../fonts/pnb.woff2') format('woff2'),
        url('../fonts/pnb.ttf') format('ttf');
    font-weight: 800;
    font-display: swap;
}
