#skills {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .content {
        display: block;
    }

    h2 {
        font-size: 2.4rem;
    }

    p {
        text-transform: uppercase;
        font-size: 0.66rem;
    }

    ul {
        margin-top: 2rem;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1160px;

        li {
            position: relative;
            display: inline-block;
            transition: $easing;

            strong {
                display: block;
                transition: $easing;
                display: block;
                font-size: 1.8rem;
                padding: 0.65rem 1.15rem;

                border: 2px solid #fff;
                margin-right: -2px;
                margin-bottom: -2px;

                &::before {
                    content:"#";
                    font-weight: 300;
                    font-size: 1rem;
                }

            }

            &.prestashop {
                strong:hover {
                    background: #7c1b4c;
                }
            }
            &.shopify {
                strong:hover {
                    background: #07ad23;
                }
            }
            &.adobe {
                strong:hover {
                    background: #c00606;
                }
            }
            &.sass {
                strong:hover {
                    background: #c00682;
                }
            }
            &.javascript {
                strong:hover {
                    background: #807d00;
                }
            }
            &.webpack {
                strong:hover {
                    background: #004280;
                }
            }
            &.php {
                strong:hover {
                    background: #4F5B93;
                }
            }
            &.react {
                strong:hover {
                    background: #3997b1;
                }
            }
            &.cypress {
                strong:hover {
                    background: #04c38e;
                }
            }
        }
    }
}
