#about {
    max-width: 640px;
    margin-left: 20vw;
    @media (max-width: 769px) {
        margin-left: 10vw;
        max-width: 260px;
    }

    h2 {
        font-size: 3.6rem;
        position: relative;
        @media (max-width: 769px) {
            font-size: 2.2rem;
        }

        .face {
            fill: white;
            width: 48px;
            height: 48px;
            display: block;
            position: absolute;
            left: -64px;
            top: 8px;
            @media (max-width: 769px) {
                height: 32px;
                width: 32px;
                top: 4px;
                left: -48px;
            }
        }
    }

    p {
        text-transform: uppercase;
        font-size: 2rem;
        line-height: 1;
        @media (max-width: 769px) {
            font-size: 1.8rem;
        }
    }

    .tags {
        svg {
            padding: 5px;
            width: 32px;
            height: 32px;
            cursor: pointer;
            fill: #fff;
            opacity: 0.3;
            transition: $easing;
            margin: 0;

            &:hover {
                opacity: 1;
            }

        }
    }
}