#skills {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .content {
        display: block;
    }

    h2 {
        font-size: 2.4rem;
    }

    p {
        text-transform: uppercase;
        font-size: 0.66rem;
    }
    
    #skill-root {
        max-width: 1080px;
        margin-right: auto;
        margin-left: auto;
        ul {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
        }
        li {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 160px;
            max-width: 160px;
            flex: 0 0 160px;
            border: 2px solid #fff;
            margin: 10px;
            padding: 10px;
            text-transform: uppercase;
            font-size: 22px;
            box-sizing: border-box;
            &:hover {
            }
            
            .id {
                font-size: 12px;
            }
            
            .ref {
                font-size: 62px;
                font-weight: 800;
                text-transform: capitalize;
            }
            .name {
                font-size: 14px;
                text-transform: capitalize;
                display: flex;
                .left {
                    text-align: left;
                }
                .right {
                    flex-grow: 1;
                    text-align: right;
                }
            }
        }
    }

    ul {
        margin-top: 2rem;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1160px;

        li {
            position: relative;
            display: inline-block;
            transition: $easing;

            strong {
                display: block;
                transition: $easing;
                font-size: 1.8rem;
                padding: 0.65rem 1.15rem;

                border: 2px solid #fff;
                margin-right: -2px;
                margin-bottom: -2px;

                cursor: help;

                &::before {
                    content:"#";
                    font-weight: 300;
                    font-size: 1rem;
                }

            }

            &.prestashop {
                strong:hover {
                    background: #7c1b4c;
                }
            }
            &.shopify {
                strong:hover {
                    background: #07ad23;
                }
            }
            &.adobe {
                strong:hover {
                    background: #c00606;
                }
            }
            &.sass {
                strong:hover {
                    background: #c00682;
                }
            }
            &.javascript {
                strong:hover {
                    background: #807d00;
                }
            }
            &.webpack {
                strong:hover {
                    background: #004280;
                }
            }
            &.php {
                strong:hover {
                    background: #4F5B93;
                }
            }
            &.react {
                strong:hover {
                    background: #3997b1;
                }
            }
            &.cypress {
                strong:hover {
                    background: #04c38e;
                }
            }
            &.git {
                strong:hover {
                    background: #222;
                }
            }
            &.canvas {
                strong:hover {
                    background: lighten(#807d00,10%);
                }
            }
        }
    }
}
