footer {
    padding-bottom: 3rem;
    padding-top: 50vh;
    position: relative;

    &::before,
    &::after {
        content:"";
        display: block;
        position: absolute;
        left: 1.5rem;
        bottom: 1.5rem;
        height: 90px;
        border-right: 2px solid #fff;
        @media (max-width: 769px) {
            display: none;
        }
    }

    &::after {
        left: auto;
        right: 1.5rem;
        height: 150px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        padding: 0 1.5rem;
    }

    .col {
        flex: 0 0 33.33%;
        max-width: 33.333%;

        @media (max-width: 769px) {
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 2rem;
            margin-top: 2rem;
            text-align: center;
        }
    }

    ul {
        list-style: none;
        li {
            display: inline-block;
            margin-right: 2rem;
            letter-spacing: 0.2em;
            a {
                font-weight: 700;
            }
            @media (max-width: 769px) {
                margin: 0 .5rem;
                a {
                    padding: 0.5rem;
                    display: block;
                }
            }
        }
    }

    .bravo {
        font-size: 2.4rem;
        line-height: 1;
        max-width: 240px;
        @media (max-width: 769px) {
            margin: 0 auto;
        }
    }

    .copyrights {
        text-align: right;
        font-size: 0.75rem;
        font-weight: 800;
        text-transform: uppercase;
        @media (max-width: 769px) {
            text-align: center;
        }
    }

    .back-to-top {
        position: absolute;
        right: 0.8rem;
        bottom: calc(3rem + 150px - 20px);

        svg {
            display: block;
            width: 24px;
            height: 24px;
            fill: #fff;
            transition: $easing;
        }

        a {
            padding: 0.75rem;
            margin: -0.75rem;
            display: block;

            &:hover {
                svg {
                    transform: translateY(-10px);
                }
            }
        }
    }

}
