@font-face {
  font-family: 'Proxima';
  src: url("../fonts/proxima_nova_regular.woff2") format("woff2"), url("../fonts/proxima_nova_regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: 'Proxima';
  src: url("../fonts/proxima_nova_extrabold.woff2") format("woff2"), url("../fonts/proxima_nova_extrabold.woff") format("woff");
  font-weight: 800;
}
/* line 2, ../sass/partials/_utilities.scss */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Proxima', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale;
  /* Firefox */
}

/* line 11, ../sass/partials/_utilities.scss */
html {
  scroll-behavior: smooth;
  cursor: crosshair;
}

@media (max-width: 769px) {
  /* line 17, ../sass/partials/_utilities.scss */
  html, body {
    width: 100%;
    overflow-x: hidden;
  }
}
/* line 23, ../sass/partials/_utilities.scss */
::-moz-selection {
  background: transparent;
}

/* line 24, ../sass/partials/_utilities.scss */
::selection {
  background: transparent;
}

/* line 26, ../sass/partials/_utilities.scss */
body {
  color: white;
  background-color: #2d325a;
  animation: backgroundAnimation ease-in-out 15s infinite;
}
@keyframes backgroundAnimation {
  0%, 100% {
    background-color: #2d325a;
  }
  33% {
    background-color: #2d5a3e;
  }
  66% {
    background-color: #5a2d3e;
  }
}
/* line 43, ../sass/partials/_utilities.scss */
body::-webkit-scrollbar {
  width: 4px;
}
/* line 46, ../sass/partials/_utilities.scss */
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
/* line 50, ../sass/partials/_utilities.scss */
body::-webkit-scrollbar-thumb {
  background-color: #fff;
  outline: 1px solid slategrey;
}

/* line 56, ../sass/partials/_utilities.scss */
a {
  color: white;
  text-decoration: none;
}

/* line 1, ../sass/partials/_layout.scss */
main,
footer,
header {
  padding: 1.5rem;
}

/* line 7, ../sass/partials/_layout.scss */
main {
  padding-top: 0;
}
@media (max-width: 769px) {
  /* line 7, ../sass/partials/_layout.scss */
  main {
    opacity: 1;
    filter: none;
    transition: ease-in-out 0.2s all;
  }
  /* line 14, ../sass/partials/_layout.scss */
  main.menu-active {
    opacity: 0.15;
    filter: blur(5px);
  }
}

/* line 21, ../sass/partials/_layout.scss */
header {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
}
/* line 27, ../sass/partials/_layout.scss */
header::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  left: -30px;
  right: -30px;
  bottom: 0;
  top: -40px;
  height: calc(100% + 40px);
  opacity: 0.92;
  animation: backgroundAnimation ease-in-out 15s infinite;
  filter: blur(12px);
  pointer-events: none;
}
@media (max-width: 769px) {
  /* line 27, ../sass/partials/_layout.scss */
  header::after {
    display: none;
  }
}
/* line 46, ../sass/partials/_layout.scss */
header > * {
  position: relative;
  z-index: 1;
}

/* line 53, ../sass/partials/_layout.scss */
main .heading {
  text-align: center;
  margin-top: calc(3rem + 100px);
}
/* line 56, ../sass/partials/_layout.scss */
main .heading h1 {
  font-size: 3.6rem;
}
@media (max-width: 769px) {
  /* line 56, ../sass/partials/_layout.scss */
  main .heading h1 {
    font-size: 2.2rem;
  }
}
/* line 63, ../sass/partials/_layout.scss */
main .heading svg {
  display: inline-block;
  fill: #fff;
  height: 48px;
  width: 48px;
  position: relative;
  top: 0.25rem;
}
@media (max-width: 769px) {
  /* line 63, ../sass/partials/_layout.scss */
  main .heading svg {
    height: 32px;
    width: 32px;
  }
}
/* line 76, ../sass/partials/_layout.scss */
main .heading .seat {
  transform: scaleX(-1) translateX(-0.5rem);
}
/* line 81, ../sass/partials/_layout.scss */
main section {
  min-height: calc(100vh - 100px);
  padding-top: 100px;
  padding-bottom: 100px;
}

/* line 1, ../sass/partials/_header.scss */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
/* line 7, ../sass/partials/_header.scss */
header .header-slide {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
}
/* line 12, ../sass/partials/_header.scss */
header .header-slide .arrow {
  display: block;
  position: absolute;
  left: -5px;
  top: -17px;
  border: 5px solid transparent;
  border-top-color: #fff3;
}
/* line 21, ../sass/partials/_header.scss */
header .header-slide::after {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  border-bottom: 1px dashed #fff3;
}
/* line 32, ../sass/partials/_header.scss */
header .header-side,
header .header-menu {
  flex: 0 0 auto;
  max-width: none;
  display: flex;
}
/* line 39, ../sass/partials/_header.scss */
header .logo {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 800;
  line-height: 1;
  border-left: 2px solid #fff;
  padding: 0.1rem 1.5rem 0;
  display: flex;
  align-items: center;
}
/* line 50, ../sass/partials/_header.scss */
header .header-menu {
  align-items: center;
  justify-content: flex-end;
}
/* line 53, ../sass/partials/_header.scss */
header .header-menu ul {
  height: 100%;
  list-style: none;
  text-align: right;
  border-right: 2px solid #fff;
}
/* line 59, ../sass/partials/_header.scss */
header .header-menu li {
  display: inline-block;
  padding: 0 1.5rem 0 0;
}
/* line 62, ../sass/partials/_header.scss */
header .header-menu li a {
  display: block;
  padding: 0.95rem 0.5rem;
}
/* line 68, ../sass/partials/_header.scss */
header .header-menu #toggle-mobile {
  display: none;
}
@media (max-width: 769px) {
  /* line 74, ../sass/partials/_header.scss */
  header .header-menu.active ul {
    right: 0;
  }
  /* line 79, ../sass/partials/_header.scss */
  header .header-menu #toggle-mobile {
    display: block;
    padding: 0.5rem 1rem;
    border-right: 2px solid #fff;
    cursor: pointer;
  }
  /* line 84, ../sass/partials/_header.scss */
  header .header-menu #toggle-mobile svg {
    display: block;
    height: 32px;
    width: 32px;
    fill: #fff;
  }
  /* line 91, ../sass/partials/_header.scss */
  header .header-menu ul {
    transition: cubic-bezier(0.71, -0.29, 0.63, 2.11) all 0.5s;
    position: absolute;
    top: 4rem;
    right: -100%;
    height: auto;
  }
  /* line 98, ../sass/partials/_header.scss */
  header .header-menu li {
    display: block;
    font-size: 1.6rem;
    font-weight: 800;
  }
}

/* line 1, ../sass/partials/_footer.scss */
footer {
  padding-bottom: 3rem;
  padding-top: 50vh;
  position: relative;
}
/* line 6, ../sass/partials/_footer.scss */
footer::before, footer::after {
  content: "";
  display: block;
  position: absolute;
  left: 1.5rem;
  bottom: 1.5rem;
  height: 90px;
  border-right: 2px solid #fff;
}
@media (max-width: 769px) {
  /* line 6, ../sass/partials/_footer.scss */
  footer::before, footer::after {
    display: none;
  }
}
/* line 20, ../sass/partials/_footer.scss */
footer::after {
  left: auto;
  right: 1.5rem;
  height: 150px;
}
/* line 26, ../sass/partials/_footer.scss */
footer .row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 0 1.5rem;
}
/* line 33, ../sass/partials/_footer.scss */
footer .col {
  flex: 0 0 33.33%;
  max-width: 33.333%;
}
@media (max-width: 769px) {
  /* line 33, ../sass/partials/_footer.scss */
  footer .col {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
  }
}
/* line 46, ../sass/partials/_footer.scss */
footer ul {
  list-style: none;
}
/* line 48, ../sass/partials/_footer.scss */
footer ul li {
  display: inline-block;
  margin-right: 2rem;
  letter-spacing: 0.2em;
}
@media (max-width: 769px) {
  /* line 48, ../sass/partials/_footer.scss */
  footer ul li {
    margin: 0 .5rem;
  }
  /* line 54, ../sass/partials/_footer.scss */
  footer ul li a {
    padding: 0.5rem;
    display: block;
  }
}
/* line 62, ../sass/partials/_footer.scss */
footer .bravo {
  font-size: 2.4rem;
  line-height: 1;
  max-width: 240px;
}
@media (max-width: 769px) {
  /* line 62, ../sass/partials/_footer.scss */
  footer .bravo {
    margin: 0 auto;
  }
}
/* line 71, ../sass/partials/_footer.scss */
footer .copyrights {
  text-align: right;
  font-size: 0.75rem;
  font-weight: 800;
  text-transform: uppercase;
}
@media (max-width: 769px) {
  /* line 71, ../sass/partials/_footer.scss */
  footer .copyrights {
    text-align: center;
  }
}
/* line 81, ../sass/partials/_footer.scss */
footer .back-to-top {
  position: absolute;
  right: 0.8rem;
  bottom: calc(3rem + 150px - 20px);
}
/* line 86, ../sass/partials/_footer.scss */
footer .back-to-top svg {
  display: block;
  width: 24px;
  height: 24px;
  fill: #fff;
  transition: ease 0.2s all;
}
/* line 94, ../sass/partials/_footer.scss */
footer .back-to-top a {
  padding: 0.75rem;
  margin: -0.75rem;
  display: block;
}
/* line 100, ../sass/partials/_footer.scss */
footer .back-to-top a:hover svg {
  transform: translateY(-10px);
}

/* line 1, ../sass/sections/_about.scss */
#about {
  max-width: 340px;
  margin-left: 20vw;
}
@media (max-width: 769px) {
  /* line 1, ../sass/sections/_about.scss */
  #about {
    margin-left: 10vw;
    max-width: 260px;
  }
}
/* line 9, ../sass/sections/_about.scss */
#about h2 {
  font-size: 3.6rem;
  position: relative;
}
@media (max-width: 769px) {
  /* line 9, ../sass/sections/_about.scss */
  #about h2 {
    font-size: 2.2rem;
  }
}
/* line 16, ../sass/sections/_about.scss */
#about h2 .face {
  fill: white;
  width: 48px;
  height: 48px;
  display: block;
  position: absolute;
  left: -64px;
  top: 8px;
}
@media (max-width: 769px) {
  /* line 16, ../sass/sections/_about.scss */
  #about h2 .face {
    height: 32px;
    width: 32px;
    top: 4px;
    left: -48px;
  }
}
/* line 33, ../sass/sections/_about.scss */
#about p {
  text-transform: uppercase;
  font-size: 2.8rem;
  line-height: 1;
}
@media (max-width: 769px) {
  /* line 33, ../sass/sections/_about.scss */
  #about p {
    font-size: 1.8rem;
  }
}
/* line 43, ../sass/sections/_about.scss */
#about .tags svg {
  fill: #fff;
  opacity: 0.3;
  transition: ease 0.2s all;
}
/* line 48, ../sass/sections/_about.scss */
#about .tags svg:hover {
  opacity: 1;
}

/* line 1, ../sass/sections/_contact.scss */
#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 360px;
  margin-left: 50vw;
}
@media (max-width: 769px) {
  /* line 1, ../sass/sections/_contact.scss */
  #contact {
    margin-left: 10vw;
    max-width: 260px;
  }
}
/* line 12, ../sass/sections/_contact.scss */
#contact h2 {
  margin-bottom: 1rem;
  font-size: 3.6rem;
  position: relative;
}
@media (max-width: 769px) {
  /* line 12, ../sass/sections/_contact.scss */
  #contact h2 {
    font-size: 2.2rem;
  }
}
/* line 20, ../sass/sections/_contact.scss */
#contact h2 .send {
  fill: white;
  width: 48px;
  height: 48px;
  display: block;
  position: absolute;
  left: -64px;
  top: 8px;
}
@media (max-width: 769px) {
  /* line 20, ../sass/sections/_contact.scss */
  #contact h2 .send {
    height: 32px;
    width: 32px;
    top: 4px;
    left: -48px;
  }
}
/* line 37, ../sass/sections/_contact.scss */
#contact p {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1;
}
@media (max-width: 769px) {
  /* line 37, ../sass/sections/_contact.scss */
  #contact p {
    font-size: 1.8rem;
  }
}
/* line 46, ../sass/sections/_contact.scss */
#contact #loader {
  height: 40px;
  width: 40px;
  display: block;
  border-radius: 40px;
  border: 2px solid #fff;
  border-left-color: #fff3;
  border-right-color: #fff3;
  border-left-style: dotted;
  border-right-style: dotted;
  animation: rotate ease-in-out 0.75s infinite;
  transition: ease 0.2s all;
  opacity: 0;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
/* line 69, ../sass/sections/_contact.scss */
#contact #loader.active {
  opacity: 1;
}
/* line 74, ../sass/sections/_contact.scss */
#contact form {
  display: flex;
  flex-wrap: wrap;
}
/* line 77, ../sass/sections/_contact.scss */
#contact form p {
  flex: 0 0 100%;
  max-width: 100%;
  display: block;
}
/* line 81, ../sass/sections/_contact.scss */
#contact form p label, #contact form p input, #contact form p textarea {
  display: block;
  width: 100%;
}
/* line 87, ../sass/sections/_contact.scss */
#contact form label {
  margin-bottom: 0.33rem;
}
/* line 91, ../sass/sections/_contact.scss */
#contact form input, #contact form textarea {
  letter-spacing: 0.1em;
}
/* line 95, ../sass/sections/_contact.scss */
#contact form input, #contact form textarea, #contact form button {
  background: none;
  color: #fff;
  outline: none;
  border: 2px solid #fff3;
  padding: 0.5rem 0.5rem;
  margin-bottom: 1rem;
  transition: border ease 0.25s, color ease 0.25s;
}
/* line 104, ../sass/sections/_contact.scss */
#contact form input::placeholder, #contact form textarea::placeholder, #contact form button::placeholder {
  color: #fff3;
}
/* line 108, ../sass/sections/_contact.scss */
#contact form input:active, #contact form input:focus, #contact form input:hover, #contact form textarea:active, #contact form textarea:focus, #contact form textarea:hover, #contact form button:active, #contact form button:focus, #contact form button:hover {
  border-color: #fff;
}
/* line 115, ../sass/sections/_contact.scss */
#contact form button {
  text-transform: uppercase;
  font-weight: 800;
  padding: 0.5rem 1.5rem;
  font-size: 1.45rem;
  transition: all 0.25s cubic-bezier(0.71, -0.29, 0.63, 2.11);
}
/* line 123, ../sass/sections/_contact.scss */
#contact form button:focus, #contact form button:active, #contact form button:hover {
  background: #fff;
  color: #000;
  letter-spacing: 0.396em;
  cursor: pointer;
}

/* line 1, ../sass/sections/_home.scss */
#home {
  min-height: 100vh;
  margin: 0 -1.5rem;
  padding: 100px 3rem;
}
/* line 5, ../sass/sections/_home.scss */
#home .resume-screen,
#home .content {
  transition: ease-in all 0.33s;
}
/* line 11, ../sass/sections/_home.scss */
#home .resume-screen {
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
}
/* line 16, ../sass/sections/_home.scss */
#home .resume-screen svg {
  fill: #fff;
  display: block;
  height: 64px;
  width: 64px;
  margin: 0 auto;
}
/* line 26, ../sass/sections/_home.scss */
#home.started .content {
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
}
/* line 34, ../sass/sections/_home.scss */
#home.resumed .resume-screen {
  transform: translateY(0);
  opacity: 1;
}
/* line 38, ../sass/sections/_home.scss */
#home.resumed #p5-holder {
  filter: blur(5px);
}
/* line 43, ../sass/sections/_home.scss */
#home #p5-holder {
  position: fixed;
  z-index: 100;
  pointer-events: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: ease-in all 0.33s;
}
/* line 54, ../sass/sections/_home.scss */
#home #play-start {
  margin: 3rem auto;
  display: block;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 800;
  padding: 0.75rem 2.5rem 0.7rem;
  color: #fff;
  background: none;
  border: 3px solid #fff;
  appearance: none;
  outline: none;
  transition: all 0.25s cubic-bezier(0.71, -0.29, 0.63, 2.11);
}
/* line 69, ../sass/sections/_home.scss */
#home #play-start:focus, #home #play-start:active, #home #play-start:hover {
  background: #fff;
  color: #000;
  letter-spacing: 0.396em;
  cursor: pointer;
}

/* line 1, ../sass/sections/_skills.scss */
#skills {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* line 7, ../sass/sections/_skills.scss */
#skills .content {
  display: block;
}
/* line 11, ../sass/sections/_skills.scss */
#skills h2 {
  font-size: 2.4rem;
}
/* line 15, ../sass/sections/_skills.scss */
#skills p {
  text-transform: uppercase;
  font-size: 0.66rem;
}
/* line 20, ../sass/sections/_skills.scss */
#skills ul {
  margin-top: 2rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1160px;
}
/* line 28, ../sass/sections/_skills.scss */
#skills ul li {
  position: relative;
  display: inline-block;
  transition: ease 0.2s all;
}
/* line 33, ../sass/sections/_skills.scss */
#skills ul li strong {
  display: block;
  transition: ease 0.2s all;
  display: block;
  font-size: 1.8rem;
  padding: 0.65rem 1.15rem;
  border: 2px solid #fff;
  margin-right: -2px;
  margin-bottom: -2px;
}
/* line 44, ../sass/sections/_skills.scss */
#skills ul li strong::before {
  content: "#";
  font-weight: 300;
  font-size: 1rem;
}
/* line 53, ../sass/sections/_skills.scss */
#skills ul li.prestashop strong:hover {
  background: #7c1b4c;
}
/* line 58, ../sass/sections/_skills.scss */
#skills ul li.shopify strong:hover {
  background: #07ad23;
}
/* line 63, ../sass/sections/_skills.scss */
#skills ul li.adobe strong:hover {
  background: #c00606;
}
/* line 68, ../sass/sections/_skills.scss */
#skills ul li.sass strong:hover {
  background: #c00682;
}
/* line 73, ../sass/sections/_skills.scss */
#skills ul li.javascript strong:hover {
  background: #807d00;
}
/* line 78, ../sass/sections/_skills.scss */
#skills ul li.webpack strong:hover {
  background: #004280;
}
/* line 83, ../sass/sections/_skills.scss */
#skills ul li.php strong:hover {
  background: #4F5B93;
}
/* line 88, ../sass/sections/_skills.scss */
#skills ul li.react strong:hover {
  background: #3997b1;
}
/* line 93, ../sass/sections/_skills.scss */
#skills ul li.cypress strong:hover {
  background: #04c38e;
}
