main,
footer,
header {
    padding: 1.5rem;
}

main {
    padding-top: 0;

    @media (max-width: 769px) {
        opacity: 1;
        filter: none;
        transition: ease-in-out 0.2s all;
        &.menu-active {
            opacity: 0.15;
            filter: blur(5px);
        }
    }
}

header {
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    left: 0;
    &::after {
        content:"";
        display: block;
        position: absolute;
        z-index: 0;
        left: -30px;
        right: -30px;
        bottom: 0;
        top: -40px;
        height: calc(100% + 40px);
        opacity: 0.92;
        animation: backgroundAnimation ease-in-out 15s infinite;
        filter: blur(12px);
    }
    > * {
        position: relative;
        z-index: 1;
    }
}

main {
    .heading {
        text-align: center;
        margin-top: calc(3rem + 100px);
        h1 {
            font-size: 3.6rem;
            @media (max-width: 769px) {
                font-size: 2.2rem;
            }

        }
        svg {
            display: inline-block;
            fill: #fff;
            height: 48px;
            width: 48px;
            position: relative;
            top: 0.25rem;
            @media (max-width: 769px) {
                height: 32px;
                width: 32px;
            }
        }

        .seat {
            transform: scaleX(-1) translateX(-0.5rem);
        }
    }
    
    section {
        min-height: calc(100vh - 100px);
        padding-top: 100px;
        padding-bottom: 100px;
    }
}